{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <a href="{{ path('home.index') }}" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('login.index') }}">Login</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ path('login.index') }}">Login</a></li>
    </ul>

    {{ form(form) }}
{% endblock %}
